<div class="container mt-5">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-sm-12 col-md-10 col-lg-7">
      <div class="card">
        <div class="card-header">
          {{date}}
        </div>
        <div class="card-body text-center">
          <h2>{{potd}}</h2>
          <hr>
          <p>
            <kbd>https://192.168.0.1/</kbd>,  user <kbd>technician</kbd> pass <kbd>{{potd}}</kbd>
          </p>
          <hr>
          <button (click)="refreshPotd()" class="btn btn-large btn-block btn-primary">
            Generar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-5 text-center text-white">
        <small>
          <span>Creado con </span>
          <span class="text-danger"> &hearts; </span>
          <span> por </span>
          <a href="//github.com/arvrsh" target="_blank" class="text-warning">arvrsh</a>
        </small>
      </div>
    </div>
  </div>
</footer>